body{
    background-color: blue;
}
.i1{
    width: 550px;
    height: 500px;
    margin-left: 675px;
    border-radius: 40px;
    border-color: red;
    border-width: 5px;
    border-style: groove;
    
}


h1{
    text-align: center;
    color: white;

}
p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  